<h1>Create Todo</h1>

<form action="/todos" method="POST">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title"><br><br>
  <label for="completed">Completed: </label>
  <input type="checkbox" name="completed" id="completed"><br><br>
  <input type="submit" value="Create Todo">
</form>
